.about {
  position: relative;
  overflow: hidden;
  height: auto;
  //background: white;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 16px;
  //border-radius: 10px;
  //border: 1px solid #4A4A4A;
}

.about img {
  max-width: 50%;
  height: auto;
  //box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  object-fit: cover;
  margin: 24px;
  border-radius: 10px;
}

.pres {
  padding: 20px;
}
