.contact {
  position: relative;
  overflow: hidden;
  height: auto;
  margin: 16px;
}

.contact img {
  max-width: 80%;
  height: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.contact p, h2{
text-align: center;
}

.contact a {
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact h1 {
text-align: center;
padding-bottom: 12px;
}

.details {
  padding: 20px;
}

.contact a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  transition: color .3s;
  font-size: 20px;
  padding: 0px 8px;
}

.contact a:hover {
  color : #547b84;
}

@media only screen and (min-width: 700px) {
  .contact {
    display: flex;
    align-items: center;
  }
  .contact img {
    max-width: 50%;
  }
  .contact h1 {
    padding-bottom: 50px;
  }
}
