.services {
  display: flex;
  align-items: center;
}

.services p {
  text-align: left;
}

.services h2 {
  text-align: left;
}

.servicesinfos {
  width: 60%;
  padding: 50px;
}

.servicesform {
  width: 40%;
  padding: 50px;
}
