.services {
  position: relative;
}

.services p {
  text-align: left;
}

.services h2 {
  text-align: left;
}

.servicesinfos {
  width: 90%;
  padding: 10px;
}

.servicesform {
  width: 40%;
  padding: 50px;
}

@media only screen and (min-width: 700px) {
    .servicesinfos {
      width: 80%;
      padding: 30px;
    }
}

@media only screen and (min-width: 1100px) {
  .services {
    display: flex;
    align-items: center;
  }
  .services .servicesform {
    max-width: 50%;
  }
  .servicesinfos {
    width: 60%;
    padding: 50px;
  }
}
