<footer class="footer">
    <p>Retrouvez toute l'actualité de Just O Naturel sur instagram :</p>
    <nav class="footer-links">
      <a href="https://www.instagram.com/just_o_naturel?utm_medium=copylink"><i class="fab fa-instagram-square"></i></a>
    </nav>
</footer>
