<div class="about">
  <%= image_tag "profil_pres_flip.png" %>
  <div class="pres">
    <p>Bonjour !</p>
    <p>Je m’appelle Justine et je suis une ancienne avocate qui, après plusieurs années d’exercice, s’est rendu compte de l’importance de préserver sa <strong>santé</strong> en amont plutôt que de devoir régler les problèmes une fois survenus.</p>
    <p>Passionnée depuis longtemps par les <strong>médecines naturelles</strong> et le fonctionnement du corps humain, j’ai passé une <strong>certification de naturopathie</strong>, ainsi qu’en <strong>micro-nutrition</strong>, afin de formaliser mes compétences et de me tourner vers un métier plus en adéquation avec mes valeurs.</p>
    <p>Je poursuis chaque jour mes recherches afin de continuer à développer mes compétences et de pouvoir vous accompagner au mieux en suivant l’évolution des connaissances scientifiques.</p>
    <p>Formations à venir : système digestif, système hormonal, …</p>
    <p>Mon but à travers la <strong>naturopathie</strong> est de vous proposer un accompagnement global et holistique, de trouver ensemble des solutions adaptées à votre rythme de vie, mais surtout de fournir une écoute active et un appui pour vous aider à comprendre votre corps, à développer votre capacité à en prendre soin.</p>
    <p>Vous trouverez sur mon blog des articles qui, je l’espère, vous guideront sur certains sujets. N’hésitez pas à consulter mes prestations et à me contacter pour tout renseignement ! </p>
  </div>
</div>

<%= image_tag "profil_pres_flip.png" %>
<p>Bonjour !</p>
<p>Je m’appelle Justine et je suis une ancienne avocate qui, après plusieurs années d’exercice, s’est rendu compte de l’importance de préserver sa santé en amont plutôt que de devoir régler les problèmes une fois survenus.</p>
<p>Passionnée depuis longtemps par les médecines naturelles et le fonctionnement du corps humain, j’ai passé une certification de naturopathie, ainsi qu’en micro-nutrition, afin de formaliser mes compétences et de me tourner vers un métier plus en adéquation avec mes valeurs.</p>
<p>Je poursuis chaque jour mes recherches afin de continuer à développer mes compétences et de pouvoir vous accompagner au mieux en suivant l’évolution des connaissances scientifiques.</p>
<p>Formations à venir : système digestif, système hormonal, …</p>
<p>Mon but à travers la naturopathie est de vous proposer un accompagnement global et holistique, de trouver ensemble des solutions adaptées à votre rythme de vie, mais surtout de fournir une écoute active et un appui pour vous aider à comprendre votre corps, à développer votre capacité à en prendre soin.</p>
<p>Vous trouverez sur mon blog des articles qui, je l’espère, vous guideront sur certains sujets. N’hésitez pas à consulter mes prestations et à me contacter pour tout renseignement ! </p>
