<div class="contact">
  <%= image_tag "video_conference.png" %>
  <div class="details">
    <h1>Me contacter :</h1>
    <h2>Justine Duval</h2>
    <a href="mailto:justine.feuerstoss@just-o-naturel.com">justine.feuerstoss@just-o-naturel.com</a>
    <p>située à Epernon (28230) en Eure-et-Loir, à proximité de Chartres et de Rambouillet</p>
    <div class="details">
      <H4>Laissez-moi un message, je vous recontacterai avec plaisir&nbsp;!</H4>
       <form action="/send_contact" method="post">
        <input name="nom" type="text" class="form-control mb-1" placeholder="Votre prénom">
        <input name="email" type="email" class="form-control mb-1" placeholder="Votre email" required>
        <textarea name="message" class="form-control" placeholder="Votre message" required></textarea>
        <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
        <button type="submit">Envoyer !</button>
      </form>
    </div>
  </div>
</div>
