<h1>Me contacter</h1>

<h2>Justine Duval</h2>

<p>justine@just-o-naturel.com</p>

<p>située à Epernon (28230) en Eure-et-Loir, à proximité de Chartres et de Rambouillet</p>

<%= image_tag "cabinet.jpeg" %>
