<div class="contact">
  <%= image_tag "cabinet.jpeg" %>
  <div class="adress">
    <h2>justine.feuerstoss@just-o-naturel.com</h2><br>
    <p>située à <strong>Epernon (28230)</strong> en Eure-et-Loir, à proximité de <strong>Chartres</strong> et de <strong>Rambouillet</strong></p>
  </div>
</div>
