<div class="contact">
  <%= image_tag "cabinet.jpg" %>
  <div class="details">
    <h1>Me contacter :</h1>
    <h2>Justine Duval</h2>
    <a href="mailto:justine.feuerstoss@just-o-naturel.com">justine.feuerstoss@just-o-naturel.com</a>
    <p>située à Epernon (28230) en Eure-et-Loir, à proximité de Chartres et de Rambouillet</p>
  </div>
</div>
