<<<<<<< HEAD
<div class="banner">
  <h1>Just O Naturel</h1>
  <h2>Justine Feuerstoss</h2>
  <H3>Naturopathie</H3>
</div>
=======
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'Tous les articles', articles_path %>
>>>>>>> parent of 7ccb64b... front pages home services & contact
