<h1>TARIFS ET PRESTATIONS :</h1>
<ul>
  <li>Première consultation/bilan de vitalité (1h30) : discussion autour de votre hygiène de vie globale afin de prendre connaissance de vos attentes et objectifs. Véritable échange, le bilan de vitalité permet de recueillir toutes les informations qui me permettront d’établir un programme personnalisé (que vous recevrez par mail sous 7 jours après la consultation). 70 euros </li>
  <li>Consultation de suivi (1h) : échange autour de votre programme naturopathique et révision de celui-ci si nécessaire. 50 euros </li>
  <li>Consultation téléphonique (30 min) : conseil sur une problématique ponctuelle et spécifique (pour les patients déjà suivis). 30 euros </li>
</ul>

<h1>PERIMETRE D’ACTIVITE</h1>
<p>J’interviens en présentiel sur Epernon (28230) et ses environs.</p>
<p>Pour m’adapter à vos besoins, je propose également des consultations en ligne.</p>



<H1>FORMULAIRE DE CONTACT</H1>
