<div class="services">
  <div class="servicesinfos">
    <h2>TARIFS ET PRESTATIONS :</h2>
    <ul>
      <li>Première consultation/bilan de vitalité (1h30) : discussion autour de votre hygiène de vie globale afin de prendre connaissance de vos attentes et objectifs. Véritable échange, le bilan de vitalité permet de recueillir toutes les informations qui me permettront d’établir un programme personnalisé (que vous recevrez par mail sous 7 jours après la consultation). 70 euros </li>
      <li>Consultation de suivi (1h) : échange autour de votre programme naturopathique et révision de celui-ci si nécessaire. 50 euros </li>
      <li>Consultation téléphonique (30 min) : conseil sur une problématique ponctuelle et spécifique (pour les patients déjà suivis). 30 euros </li>
    </ul>
    <h2>PERIMETRE D’ACTIVITE :</h2>
    <ul>
      <li>Les consultations et les échanges qui en découlent sont entièrement réalisés à distance.</li>
      <li>Cela me permet d'intervenir à votre travail, lors de vos déplacements professionnels, chez vous : en résumé, plus de limite géographique pour prendre soin de vous.</li>
    </ul>
  </div>
  <div class="servicesform">
    <H2>Laissez-moi un message avec vos coordonnées, je vous recontacterai avec plaisir !</H2>
      <form action="/send_contact" method="post">
      <input name="nom" type="text" class="form-control mb-1" placeholder="Votre prénom">
      <input name="email" type="email" class="form-control mb-1" placeholder="Votre email" required>
      <textarea name="message" class="form-control" placeholder="Votre message" required></textarea>
      <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
      <button type="submit">Envoyer !</button>
    </form>
  </div>
</div>
