.category {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  list-style-type: none;
  padding: 0;
}

.categoryItem {
  padding-left: 6px;
  font-size: 13px;
}

.dropdown-toggle {
  margin: 0;
  padding: 0;
}
.dropdown-menu {
  padding-left: 6px;
  padding-right: 5px;
}

.dropdown-toggle::after {
    color: #F4F4F4;
}

// TRANSITION FOR CATEGORIES AND SUBCATEGORIES HOVER :

ul a:after{
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width .4s ease, background-color .4s ease;
}

ul a:hover:after{
  width: 100%;
  background: black;
}




.card-article {
  position: relative;
  overflow: hidden;
  height: 320px;
  background: white;
  //box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 16px;
  border-radius: 10px;
  border: 1px solid #4A4A4A;
}

.card-article img {
  max-width: 90%;
  max-height: 280px;
  //box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  object-fit: cover;
  margin: 24px;
  border-radius: 10px;
}



.card-article h2 a {
  text-decoration: none;
  font-size: 24px;
  color: rgba(0,0,0,0.7);
  font-weight: bold;
  margin: 0;
}

.card-article p {
  font-size: 16px;
  color: rgba(0,0,0,0.7);
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.category a {
  text-decoration: none;
  color: rgba(0,0,0,0.7);
}

.card-article-infos h2 {
  position: absolute;
  top: 24px;
}

.card-article .card-article-infos {
  padding: 16px;
}

.links {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

@media only screen and (min-width: 575px) {
  .card-article {
    width: 90%;
  }
  .categoryItem {
  padding-left: 6px;
  font-size: 16px;
  }
}

@media only screen and (min-width: 700px) {
  .categoryItem {
    padding-left: 8px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1100px) {
  .card-article {
    width: 90%;
  }
}

