.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar {
  background: white;
  justify-content: space-between;
}
.navbar-brand {
  display: block;
  text-align: center;
  padding: 12px 30px 12px 12px;
  margin: 0;
  margin-top: 3px;
}

.navbar-brand img {
  width: 60%;
}

.navbar-lewagon a {
  text-decoration: none;
  color: rgba(0,0,0,0.7);
}




@media only screen and (min-width: 575px) {
    .navbar {
      justify-content: space-between;
    }
    .navbar-lewagon {
      justify-content: space-between;
      background: white;
    }

    .nav-link {
      font-size: 0.95em;
    }

    .navbar a:after{
      content: '';
      display: block;
      margin: auto;
      height: 1px;
      width: 0px;
      background: transparent;
      transition: width .4s ease, background-color .4s ease;
    }

    .navbar a:hover:after{
      width: 100%;
      background: black;
    }

    .navbar-lewagon .navbar-collapse {
      flex-grow: 0;
    }

    .navbar-lewagon .navbar-brand img {
      width: 120px;
    }
    .navbar-brand {
      padding: 0 30px 0 12px;
    }
}

@media only screen and (min-width: 700px) {
    .nav-link {
      font-size: 1.15em;
    }
    .nav-item {
      padding-left: 1px;
    }
}

@media only screen and (min-width: 1100px) {
    .nav-link {
      font-size: 1.25em;
      padding-left: 70px;
    }
    .nav-item {
      padding-left: 70px;
    }
}
