<p>Hello Justine !</p>

<p>Vous avez reçu un nouveau message de <strong> <%= @nom %> </strong> via le formulaire de contact de just-o-naturel.com : </p>


<p> email : <%= @email %> </p>
<p> message : <%= @message %> </p>
